html {
  height: 100%;
}

/*Set variables for light and dark mode */
:root {
  --primary-color: #f8f8f8;
  --secondary-color: #000000;
}

.dark-mode {
  --primary-color: #000000;
  --secondary-color: #f8f8f8;
}

/* Set background stylizing and size */
body {
    min-height: 100vh;
    background : radial-gradient( var(--secondary-color) 2px, transparent 2px) 0 0 / 35px 35px;
    font-family: "0Arame";
    background-color: var(--primary-color)
}

/* Import for Arame Font*/
@import 
url(//db.onlinewebfonts.com/c/548e77e130ea884c764acabe1ba1ad63?family=0Arame);
@font-face {
    font-family: "0Arame"; src: url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.eot"); src: url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.woff") format("woff"), url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/548e77e130ea884c764acabe1ba1ad63.svg#0Arame") format("svg"); 
}

/*Create gride for about me, contact and projects */
.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "about-me header-2"
    "contact projects";
    grid-template-columns: 587px 1fr;
    grid-template-rows: 400px 1fr;
  }
  .container > div {
    border: 1.5px dashed var(--secondary-color);
  }
  
  .about-me {
    grid-area: about-me;
  }
  
  .header-2 {
    grid-area: header-2;
  }

  #icon {
    width: 40px;
    cursor: pointer;
    margin-left: 1250px;
  }

  .contact {
    grid-area: contact;
  }

  .projects {
    grid-area: projects;
  }

  .card {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    height: 94%;
    background-color: rgba(126, 126, 126, 0.856);
    border-radius: 12px;
  }

  /* Stylize text and create cursor for typewriter animation */
  .typewriter {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    width: 52vh;
    font-weight: 700;
    color: var(--secondary-color);
    font-size: 50px;
    animation: typing 2s steps(21), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
  }
    /* Using animation tags create key frames for blinking cursor */
  @keyframes typing {
    from {
      width: 0
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .description {
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    max-width: 95%;
    color: var(--secondary-color);
  }

  .certs {
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 5px;
    text-decoration: underline;
    color: var(--secondary-color);
  }

  .cert-link {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  a{
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 1px #555;
  }

  object {
    margin-right: 82px;
  }