body {
  height: 100vh;
  background-color:hsla(0,0%,0%,1);
  background-image:
  radial-gradient(at 93% 63%, hsla(228,53%,44%,1) 0px, transparent 50%),
  radial-gradient(at 55% 57%, hsla(228,53%,44%,1) 0px, transparent 50%),
  radial-gradient(at 16% 63%, hsla(228,53%,44%,1) 0px, transparent 50%),
  radial-gradient(at 13% 100%, hsla(323,100%,97%,1) 0px, transparent 50%),
  radial-gradient(at 93% 100%, hsla(323,100%,97%,1) 0px, transparent 50%),
  radial-gradient(at 56% 100%, hsla(323,100%,97%,1) 0px, transparent 50%),
  radial-gradient(at 93% 85%, hsla(321,93%,73%,1) 0px, transparent 50%),
  radial-gradient(at 56% 84%, hsla(321,93%,73%,1) 0px, transparent 50%),
  radial-gradient(at 13% 86%, hsla(321,93%,73%,1) , transparent 50%);
  background-attachment: fixed;
  font-family: 'Arame';
}

@font-face {
	font-family: 'Arame';
	src: url('Arame.eot');
	src: local('Arame'),
		url('Arame.eot?#iefix') format('embedded-opentype'),
		url('Arame.woff') format('woff'),
		url('Arame.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*Mobile Styling*/
/*Mobile Styling*/
/*Mobile Styling*/
@media only screen and (min-device-width: 375px){

.stars {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.star {
  position: absolute;
  background: #fff;
  border-radius: 100%;
  opacity: 1;
  animation: twinkle 3s ease-in-out infinite;
}

@keyframes twinkle {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}


/* About Me Section */
.about-me {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 20%;
}

.typewriter {
  margin-top: 5px;
  margin-bottom: 2%;
  font-weight: 600;
  margin-left: 3%;
  width: 105%;
  color: white;
  font-size: 200%;
  animation: typing 2s steps(21), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
}

@keyframes typing {
  from {
      width: 0
  }
  }

  @keyframes blink {
  50% {
      border-color: transparent
  }
}

.description {
  text-align: center;
  line-height: 150%;
  margin-left: 10%;
  font-weight: 600;
  font-size: 100%;
  color: white;
}

/*Contact Section */

.contacts {
  position: absolute;
  left: 2%;
  top: 65%;
  width: 103%;
  height: 20%;
}

.contact-card{
  margin-left: 1%;
  margin-right: 3%;
  margin-top: 10px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  box-shadow: 35px 35px 15px -3px rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
}

.contact-header {
  position: absolute;
  margin: auto;
  color: #fff;
  font-size: 130%;
}

.contact-link {
  margin-top: 40%;
  font-size: 130%;
  text-align: center;
  color: #fff;
}

a{
  text-decoration: none;
}

.contact-picture {
  display: flex;
  justify-content: space-around;
  margin-top: -4%;
  height: 50%;
}

/*Project Section Start*/

.projects{
  position: absolute;
  top: 120%;
  width: 100%;
  height: 120%;
}

.project-header {
  position: absolute;
  margin: auto;
  color: #fff;
  font-size: 130%;
}

.project-subheader {
  position: absolute;
  margin-top: 5%;
  color: #fff;
  font-size: 100%;
}

.project-table {
  margin-top: 10px;
  margin-right: 2%;
  height: 120%;
  background-color: rgb(0, 0, 0);
  box-shadow: 35px 35px 15px -3px rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
}

.project-card {
  margin-top: 12%;
  margin-right: 1%;
  margin-left: 2%;
  width: 37%;
  height: 76%;
  background: #fff;
  border-radius: 6px;
}
  
.project-image {
  height: calc(90% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
  
.project-image:hover {
  transform: scale(0.98);
}
  
.heading {
  font-weight: 600;
  font-size: 40%;
  color: var(--secondary-color);
  padding: 7px;
}
  
.heading:hover {
  cursor: pointer;
 }
  
.author {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 40%;
  padding-top: 10px;
  margin-left: 2%;
}

.languages {
  color: var(--secondary-color);
  font-size: 20%;
  margin-top: 9%;
  margin-left: 2%;
}

.name {
  font-size: 20%;
}
  
.name:hover {
  cursor: pointer;
}
  
/*Project Elements End*/

/*Skill Section*/
.skills {
  position: absolute;
  top: 280%;
  width: 100%;
  height: 200%;
}

.skills-card{
  height: 140%;
  margin-top: 10px;
  background-color: rgb(0, 0, 0);
  box-shadow: 35px 35px 15px -3px rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  margin-right: 2%;
}

.skills-header {
  text-align: center;
  color: #fff;
  font-size: 130%;
}

.skill-list {
  margin-top: 1%;
  margin-left: 4%;
  height: 41%;
  width: 20%;
  float: left;
}

.skill-center{
  position: absolute;
  top: 96%;
  left: 40%;
  height: 75%;
  width: 60%;
  color: #fff;
}

.skill-categories {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  color: rgb(255, 255, 255);
  font-size: 110%;
  text-decoration: underline;
}

.sub-skill{
  margin-top: -5%;
  color: rgb(255, 255, 255);
  font-size: 100%;
  text-align: center;
}

.extra-skills {
  margin-top: 1%;
  text-align: center;
}

/*Certification Section*/
.certifications {
  position: absolute;
  left: 2%;
  top: 35%;
  width: 100%;
  height: 40%;
}

.cert-card{
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
  height: 60%;
  background-color: rgb(0, 0, 0);
  box-shadow: 35px 35px 15px -3px rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

.cert-header {
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 130%;
}

.cert-image {
  margin-left: 5%;
  margin-top: 5%;
  height: 60%;
}
}



/*Desktop Styling*/
/*Desktop Styling*/
/*Desktop Styling*/
/*Desktop Styling*/

@media only screen and (min-device-width: 720px){

.stars {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.star {
  position: absolute;
  background: #fff;
  border-radius: 100%;
  opacity: 1;
  animation: twinkle 3s ease-in-out infinite;
}

@keyframes twinkle {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}


/* About Me Section */
.about-me {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 20%;
}

.typewriter {
  margin-top: 3px;
  margin-bottom: 2%;
  font-weight: 600;
  margin-left: 29%;
  width: 42%;
  color: white;
  font-size: 400%;
  animation: typing 2s steps(21), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
}

@keyframes typing {
  from {
      width: 0
  }
  }

  @keyframes blink {
  50% {
      border-color: transparent
  }
}

.description {
  position: absolute;
  right: 10%;
  line-height: 150%;
  font-weight: 600;
  font-size: 250%;
  color: white;
}

/*Contact Section */

.contacts {
  position: absolute;
  left: 14%;
  top: 120%;
  width: 70%;
  height: 40%;
}

.contact-card{
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
  height: 90%;
  background-color: rgb(0, 0, 0);
  box-shadow: 35px 35px 15px -3px rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
}

.contact-header {
  position: absolute;
  margin: auto;
  color: #fff;
  font-size: 230%;
}

.contact-link {
  margin-top: 40%;
  font-size: 220%;
  color: #fff;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 2px #ffffff;
}

.contact-picture {
  width: 90%;
  height: 50%;
}

.contact-picture:hover {
  height: 60%;
  width: auto;
}

/*Project Section Start*/

.projects{
  position: absolute;
  top: 120%;
  width: 100%;
  height: 120%;
}

.project-header {
  position: absolute;
  margin: auto;
  color: #fff;
  font-size: 230%;
}

.project-subheader {
  position: absolute;
  margin-top: 3%;
  color: #fff;
  font-size: 230%;
}

.project-table {
  margin-top: 10px;
  height: 120%;
  background-color: rgb(0, 0, 0);
  box-shadow: 35px 35px 15px -3px rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
}

.project-card {
  margin-top: 7%;
  margin-right: 2%;
  margin-left: 2%;
  width: 25%;
  height: 80%;
  background: #fff;
  border-radius: 6px;
}
  
.project-image {
  height: calc(90% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
  
.project-image:hover {
  transform: scale(0.98);
}
  
.heading {
  font-weight: 600;
  font-size: 120%;
  color: var(--secondary-color);
  padding: 7px;
}
  
.heading:hover {
  cursor: pointer;
 }
  
.author {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 80%;
  padding-top: 10px;
  margin-left: 2%;
}

.languages {
  color: var(--secondary-color);
  font-size: 90%;
  margin-top: 9%;
  margin-left: 2%;
}

.name {
  font-weight: 600;
}
  
.name:hover {
  cursor: pointer;
}
  
/*Project Elements End*/

/*Skill Section*/
.skills {
  position: absolute;
  top: 280%;
  width: 100%;
  height: 150%;
}

.skills-card{
  height: 160%;
  margin-top: 10px;
  background-color: rgb(0, 0, 0);
  box-shadow: 35px 35px 15px -3px rgba(0, 0, 0, 0.8);
  border-radius: 12px;

}

.skills-header {
  text-align: center;
  color: #fff;
  font-size: 230%;
}

.skill-list {
  margin-top: 1%;
  margin-left: 4%;
  height: 41%;
  width: 20%;
  float: left;
}

.skill-center{
  text-align: center;
  top: 106%;
  left: 40%;
  height: 75%;
  width: 40%;
  color: #fff;
}

.skill-categories {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  color: rgb(255, 255, 255);
  font-size: 230%;
  text-decoration: underline;
}

.sub-skill{
  margin-top: -5%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 200%;
}

.extra-skills {
  font-size: 200%;
}

/*Certification Section*/
.certifications {
  position: absolute;
  left: 14%;
  top: 60%;
  width: 70%;
  height: 80%;
}

.cert-card{
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
  height: 60%;
  background-color: rgb(0, 0, 0);
  box-shadow: 35px 35px 15px -3px rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

.cert-header {
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 230%;
}

.cert-image {
  margin-left: 7%;
  margin-top: 2%;
  height: 80%;
}
}